.container,
.about-page,
.webcoding-page {
  #stars {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1793px 640px #fff, 1228px 1234px #fff, 1821px 274px #fff,
      162px 1870px #fff, 1023px 1449px #fff, 155px 388px #fff, 1398px 420px #fff,
      1688px 1728px #fff, 1448px 1022px #fff, 67px 1747px #fff,
      1356px 1553px #fff, 152px 1529px #fff, 779px 802px #fff,
      1477px 1483px #fff, 1493px 1357px #fff, 520px 1844px #fff,
      484px 1184px #fff, 1418px 1960px #fff, 207px 27px #fff, 13px 1102px #fff,
      1062px 705px #fff, 106px 1260px #fff, 1522px 1877px #fff, 73px 536px #fff,
      416px 687px #fff, 1080px 1962px #fff, 1057px 455px #fff,
      1829px 1611px #fff, 1178px 1041px #fff, 386px 1016px #fff,
      100px 537px #fff, 592px 1422px #fff, 1881px 1457px #fff,
      1253px 1794px #fff, 1300px 778px #fff, 1619px 789px #fff,
      1139px 118px #fff, 1923px 724px #fff, 1110px 1985px #fff,
      1741px 167px #fff, 1853px 630px #fff, 1px 1765px #fff, 398px 1080px #fff,
      1268px 698px #fff, 1420px 1119px #fff, 440px 803px #fff, 139px 387px #fff,
      583px 1093px #fff, 1572px 521px #fff, 1937px 451px #fff, 596px 1149px #fff,
      625px 1095px #fff, 1836px 1910px #fff, 90px 529px #fff, 1285px 1118px #fff,
      1650px 660px #fff, 277px 406px #fff, 1593px 1009px #fff, 1514px 292px #fff,
      572px 683px #fff, 36px 538px #fff, 174px 501px #fff, 1219px 1845px #fff,
      542px 1819px #fff, 937px 706px #fff, 1925px 328px #fff, 1225px 485px #fff,
      111px 1746px #fff, 1657px 543px #fff, 1979px 546px #fff, 963px 380px #fff,
      1017px 1799px #fff, 651px 1909px #fff, 945px 538px #fff, 119px 1253px #fff,
      975px 425px #fff, 999px 1762px #fff, 961px 1436px #fff, 1635px 1460px #fff,
      1828px 870px #fff, 1721px 190px #fff, 457px 789px #fff, 1756px 1281px #fff,
      1712px 1384px #fff, 1446px 871px #fff, 388px 1103px #fff, 1329px 32px #fff,
      1694px 769px #fff, 168px 742px #fff, 1784px 739px #fff, 1477px 1465px #fff,
      976px 398px #fff, 1022px 1270px #fff, 998px 1874px #fff, 213px 830px #fff,
      787px 426px #fff, 1836px 1915px #fff, 1174px 843px #fff,
      1317px 1640px #fff, 461px 638px #fff, 499px 1221px #fff, 874px 1300px #fff,
      961px 717px #fff, 1158px 1915px #fff, 286px 1800px #fff, 669px 428px #fff,
      1930px 1513px #fff, 27px 472px #fff, 973px 663px #fff, 697px 203px #fff,
      214px 1255px #fff, 1339px 961px #fff, 428px 1477px #fff,
      1619px 1493px #fff, 940px 78px #fff, 980px 109px #fff, 1534px 1265px #fff,
      1552px 1364px #fff, 423px 161px #fff, 1250px 482px #fff, 802px 1139px #fff,
      1140px 1534px #fff, 1305px 1637px #fff, 720px 238px #fff, 557px 884px #fff,
      375px 98px #fff, 1836px 233px #fff, 336px 1246px #fff, 1805px 1402px #fff,
      1376px 39px #fff, 1900px 1236px #fff, 113px 1696px #fff, 448px 60px #fff,
      296px 1997px #fff, 1843px 1353px #fff, 1373px 749px #fff,
      805px 1306px #fff, 1748px 1695px #fff, 1665px 616px #fff,
      607px 1679px #fff, 276px 1272px #fff, 639px 1881px #fff, 939px 1473px #fff,
      536px 146px #fff, 1038px 1541px #fff, 1840px 1214px #fff, 233px 8px #fff,
      1733px 1321px #fff, 1586px 386px #fff, 1341px 1995px #fff,
      826px 759px #fff, 168px 11px #fff, 518px 1061px #fff, 1238px 1873px #fff,
      964px 743px #fff, 1342px 197px #fff, 243px 1344px #fff, 797px 255px #fff,
      162px 318px #fff, 1933px 1221px #fff, 1279px 147px #fff, 626px 710px #fff,
      1677px 342px #fff, 617px 732px #fff, 1774px 1227px #fff, 508px 1024px #fff,
      1186px 1245px #fff, 1517px 1565px #fff, 301px 548px #fff, 400px 878px #fff,
      1253px 1332px #fff, 235px 1285px #fff, 488px 458px #fff, 562px 494px #fff,
      862px 196px #fff, 101px 124px #fff, 293px 1687px #fff, 838px 226px #fff,
      1334px 615px #fff, 318px 929px #fff, 1692px 1967px #fff, 670px 1425px #fff,
      1548px 851px #fff, 1596px 1057px #fff, 1665px 1481px #fff,
      706px 973px #fff, 54px 1137px #fff, 487px 30px #fff, 966px 110px #fff,
      1730px 1577px #fff, 1230px 1253px #fff, 1861px 1348px #fff,
      765px 1132px #fff, 46px 1008px #fff, 541px 494px #fff, 1198px 710px #fff,
      484px 169px #fff, 964px 332px #fff, 1592px 1281px #fff, 1408px 768px #fff,
      1661px 1509px #fff, 775px 49px #fff, 1528px 664px #fff, 591px 1595px #fff,
      237px 110px #fff, 1602px 1464px #fff, 200px 891px #fff, 683px 113px #fff,
      1882px 1953px #fff, 1341px 1717px #fff, 1073px 1740px #fff,
      1059px 211px #fff, 1772px 802px #fff, 1279px 1479px #fff, 29px 490px #fff,
      689px 1874px #fff, 1797px 1019px #fff, 744px 803px #fff, 1371px 726px #fff,
      1686px 1251px #fff, 1000px 436px #fff, 837px 19px #fff, 1031px 95px #fff,
      236px 419px #fff, 901px 329px #fff, 892px 445px #fff, 1959px 385px #fff,
      902px 1799px #fff, 1786px 341px #fff, 997px 430px #fff, 721px 900px #fff,
      1749px 1664px #fff, 726px 1387px #fff, 645px 1027px #fff, 663px 581px #fff,
      520px 373px #fff, 289px 1802px #fff, 1046px 851px #fff, 437px 1978px #fff,
      1831px 1944px #fff, 1670px 1916px #fff, 1816px 233px #fff,
      1933px 1605px #fff, 935px 1207px #fff, 1517px 1107px #fff,
      1375px 752px #fff, 72px 942px #fff, 365px 1597px #fff, 257px 286px #fff,
      64px 1669px #fff, 1362px 46px #fff, 1310px 1825px #fff, 1833px 336px #fff,
      1934px 1355px #fff, 364px 1055px #fff, 1837px 325px #fff,
      1392px 1771px #fff, 1989px 595px #fff, 1929px 134px #fff, 252px 537px #fff,
      1820px 88px #fff, 1832px 656px #fff, 195px 1274px #fff, 73px 683px #fff,
      1142px 1224px #fff, 959px 681px #fff, 536px 1509px #fff, 1068px 878px #fff,
      1336px 1794px #fff, 1124px 1969px #fff, 1142px 764px #fff,
      1179px 77px #fff, 1679px 1060px #fff, 923px 986px #fff, 1671px 1635px #fff,
      756px 989px #fff, 336px 74px #fff, 272px 1569px #fff, 805px 197px #fff,
      1624px 947px #fff, 1419px 1939px #fff, 1011px 1462px #fff,
      1866px 613px #fff, 186px 109px #fff, 1698px 566px #fff, 542px 652px #fff,
      771px 1939px #fff, 1867px 778px #fff, 203px 372px #fff, 1703px 269px #fff,
      1355px 1629px #fff, 1922px 415px #fff, 1992px 1937px #fff,
      910px 1761px #fff, 657px 1776px #fff, 941px 425px #fff, 469px 750px #fff,
      1237px 1416px #fff, 1920px 1348px #fff, 1408px 1581px #fff,
      1234px 1781px #fff, 1476px 1458px #fff, 1848px 1338px #fff,
      1726px 1374px #fff, 1153px 13px #fff, 241px 1619px #fff,
      1249px 1701px #fff, 195px 1872px #fff, 494px 1178px #fff,
      1875px 1426px #fff, 54px 1725px #fff, 1131px 761px #fff, 563px 1227px #fff,
      1892px 1832px #fff, 53px 186px #fff, 69px 1635px #fff, 40px 395px #fff,
      617px 598px #fff, 179px 1309px #fff, 1328px 941px #fff, 1569px 925px #fff,
      1497px 1560px #fff, 95px 332px #fff, 1507px 717px #fff, 1184px 1576px #fff,
      618px 902px #fff, 1995px 635px #fff, 731px 995px #fff, 18px 806px #fff,
      1090px 955px #fff, 1330px 217px #fff, 195px 1385px #fff, 1009px 134px #fff,
      1459px 1613px #fff, 1275px 179px #fff, 1737px 1272px #fff,
      1534px 390px #fff, 691px 14px #fff, 1444px 661px #fff, 630px 1911px #fff,
      456px 1759px #fff, 1165px 982px #fff, 271px 776px #fff, 337px 700px #fff,
      812px 994px #fff, 141px 294px #fff, 1867px 393px #fff, 1605px 1925px #fff,
      835px 409px #fff, 466px 1324px #fff, 1863px 1774px #fff, 1519px 944px #fff,
      982px 1693px #fff, 1954px 1181px #fff, 534px 1472px #fff,
      1727px 1454px #fff, 41px 800px #fff, 1289px 582px #fff, 1819px 1134px #fff,
      886px 1387px #fff, 1601px 1240px #fff, 1608px 256px #fff,
      1863px 870px #fff, 344px 1738px #fff, 1586px 76px #fff, 1806px 702px #fff,
      217px 869px #fff, 1309px 1957px #fff, 924px 1114px #fff,
      1214px 1712px #fff, 1835px 1458px #fff, 1180px 1325px #fff,
      1118px 451px #fff, 1470px 999px #fff, 635px 108px #fff, 1071px 213px #fff,
      537px 304px #fff, 833px 919px #fff, 1014px 74px #fff, 1266px 1618px #fff,
      1952px 1926px #fff, 328px 1630px #fff, 1217px 1298px #fff,
      750px 990px #fff, 137px 1164px #fff, 1832px 1394px #fff,
      1520px 1365px #fff, 536px 386px #fff, 305px 1093px #fff,
      1983px 1244px #fff, 1671px 1386px #fff, 892px 219px #fff,
      1196px 1810px #fff, 533px 98px #fff, 795px 910px #fff, 13px 948px #fff,
      1179px 863px #fff, 1043px 1402px #fff, 725px 1924px #fff,
      859px 1795px #fff, 291px 409px #fff, 1246px 1007px #fff,
      1029px 1764px #fff, 1842px 1037px #fff, 982px 579px #fff,
      1264px 703px #fff, 525px 286px #fff, 1553px 146px #fff, 1491px 1073px #fff,
      1294px 1402px #fff, 488px 1249px #fff, 307px 982px #fff, 172px 1454px #fff,
      379px 1966px #fff, 383px 355px #fff, 804px 2000px #fff, 598px 282px #fff,
      898px 1165px #fff, 614px 1564px #fff, 1028px 637px #fff, 1952px 179px #fff,
      1332px 480px #fff, 1956px 31px #fff, 951px 1787px #fff, 966px 928px #fff,
      1640px 1415px #fff, 1202px 16px #fff, 1810px 961px #fff, 1942px 727px #fff,
      1962px 446px #fff, 671px 1593px #fff, 29px 1161px #fff, 1973px 340px #fff,
      918px 1213px #fff, 1410px 1602px #fff, 1617px 1567px #fff,
      893px 1198px #fff, 1599px 169px #fff, 1282px 886px #fff,
      1458px 1856px #fff, 401px 544px #fff, 1925px 1977px #fff, 216px 61px #fff,
      161px 499px #fff, 946px 1023px #fff, 700px 1589px #fff, 126px 627px #fff,
      778px 1517px #fff, 549px 1232px #fff, 766px 1560px #fff, 120px 1596px #fff,
      606px 1717px #fff, 1288px 1447px #fff, 701px 696px #fff,
      1907px 1981px #fff, 1699px 1162px #fff, 1074px 29px #fff,
      1789px 1994px #fff, 262px 1508px #fff, 1322px 222px #fff,
      1046px 360px #fff, 1010px 483px #fff, 1589px 321px #fff, 769px 378px #fff,
      1855px 638px #fff, 796px 1636px #fff, 368px 1051px #fff,
      1487px 1190px #fff, 353px 1582px #fff, 1825px 1117px #fff,
      433px 1195px #fff, 640px 859px #fff, 1860px 1816px #fff, 400px 1140px #fff,
      1242px 111px #fff, 1601px 1772px #fff, 650px 1580px #fff,
      1500px 1850px #fff, 180px 1547px #fff, 1938px 1253px #fff, 37px 457px #fff,
      1643px 1992px #fff, 767px 666px #fff, 404px 464px #fff, 582px 717px #fff,
      1118px 1195px #fff, 1126px 286px #fff, 341px 951px #fff, 1668px 634px #fff,
      1562px 180px #fff, 516px 1178px #fff, 146px 1276px #fff, 507px 1061px #fff,
      1753px 681px #fff, 861px 1687px #fff, 1639px 1515px #fff,
      171px 1098px #fff, 833px 9px #fff, 1846px 1807px #fff, 1826px 422px #fff,
      1023px 266px #fff, 135px 1494px #fff, 1343px 796px #fff, 1501px 358px #fff,
      114px 1506px #fff, 823px 1186px #fff, 713px 1322px #fff,
      1151px 1976px #fff, 1340px 725px #fff, 1053px 614px #fff,
      719px 1112px #fff, 1910px 910px #fff, 36px 722px #fff, 436px 1988px #fff,
      1771px 1746px #fff, 750px 66px #fff, 350px 604px #fff, 849px 144px #fff,
      962px 1648px #fff, 694px 126px #fff, 1518px 169px #fff, 1314px 1796px #fff,
      458px 1589px #fff, 1144px 354px #fff, 878px 1520px #fff, 27px 1217px #fff,
      658px 265px #fff, 421px 1253px #fff, 1589px 226px #fff, 1010px 109px #fff,
      720px 368px #fff, 1973px 111px #fff, 1519px 1346px #fff, 1233px 38px #fff,
      312px 1674px #fff, 279px 912px #fff, 1586px 59px #fff, 729px 1794px #fff,
      97px 35px #fff, 1214px 1859px #fff, 1586px 1696px #fff, 576px 1284px #fff,
      829px 1464px #fff, 1962px 1682px #fff, 1595px 452px #fff, 90px 788px #fff,
      565px 1464px #fff, 1306px 1959px #fff, 629px 1195px #fff, 784px 249px #fff,
      592px 433px #fff, 1041px 749px #fff, 482px 249px #fff, 1186px 1287px #fff,
      522px 142px #fff, 184px 1496px #fff, 1229px 545px #fff, 360px 1389px #fff,
      1549px 491px #fff, 67px 473px #fff, 1604px 1545px #fff, 694px 1719px #fff,
      436px 526px #fff, 1040px 555px #fff, 1257px 1799px #fff,
      1426px 1953px #fff, 868px 1009px #fff, 318px 418px #fff, 126px 1138px #fff,
      1293px 494px #fff, 1270px 1358px #fff, 354px 1967px #fff,
      405px 1895px #fff, 354px 1358px #fff, 1137px 1183px #fff,
      1157px 874px #fff, 546px 1127px #fff, 1855px 1405px #fff, 436px 137px #fff,
      519px 608px #fff, 1969px 1248px #fff, 466px 1027px #fff, 1774px 747px #fff,
      1835px 1304px #fff, 1692px 814px #fff, 1738px 72px #fff, 557px 625px #fff,
      1217px 69px #fff, 1057px 841px #fff, 1953px 1282px #fff,
      1516px 1735px #fff, 799px 139px #fff, 771px 1233px #fff, 393px 641px #fff,
      1794px 308px #fff, 1632px 994px #fff, 70px 1763px #fff, 1551px 294px #fff,
      28px 1354px #fff, 1009px 1924px #fff, 796px 486px #fff, 1010px 1495px #fff,
      80px 1610px #fff, 311px 778px #fff, 630px 705px #fff, 850px 164px #fff,
      850px 673px #fff, 1951px 143px #fff, 1964px 236px #fff, 981px 578px #fff,
      443px 1351px #fff, 781px 1304px #fff, 460px 1738px #fff, 687px 1040px #fff,
      1514px 904px #fff, 1842px 444px #fff, 938px 671px #fff, 282px 1607px #fff,
      286px 1148px #fff, 681px 1726px #fff, 1742px 1531px #fff,
      665px 1601px #fff, 1335px 1817px #fff, 229px 1732px #fff,
      1983px 202px #fff, 1609px 1595px #fff, 1009px 1142px #fff,
      353px 1209px #fff, 1903px 1412px #fff, 1607px 906px #fff, 1183px 66px #fff,
      887px 1721px #fff, 1256px 1468px #fff, 1717px 1834px #fff,
      1960px 1175px #fff, 930px 1831px #fff, 1604px 936px #fff,
      1375px 1655px #fff, 914px 4px #fff, 1px 1704px #fff, 163px 1354px #fff,
      1723px 1879px #fff, 494px 824px #fff, 380px 1985px #fff, 339px 298px #fff,
      112px 600px #fff, 1397px 651px #fff, 304px 505px #fff, 982px 237px #fff,
      1732px 632px #fff, 901px 743px #fff, 996px 344px #fff, 1252px 1504px #fff,
      1932px 1455px #fff, 512px 634px #fff, 835px 302px #fff, 1048px 940px #fff,
      793px 921px #fff, 1164px 1353px #fff, 1441px 1508px #fff,
      924px 1720px #fff, 1017px 1982px #fff, 981px 1797px #fff, 351px 457px #fff,
      1496px 536px #fff, 300px 1474px #fff, 1976px 338px #fff, 1961px 203px #fff,
      1312px 197px #fff, 244px 667px #fff, 921px 814px #fff, 395px 1809px #fff,
      1398px 1569px #fff, 1263px 831px #fff, 1593px 357px #fff,
      1897px 484px #fff, 1044px 1200px #fff, 1795px 1905px #fff,
      995px 1748px #fff, 550px 519px #fff, 1931px 971px #fff, 1169px 1460px #fff,
      884px 1520px #fff, 1965px 198px #fff, 554px 989px #fff, 1813px 1559px #fff,
      1961px 1414px #fff, 834px 670px #fff, 1210px 1496px #fff,
      360px 1859px #fff, 1896px 1972px #fff, 1033px 955px #fff,
      1630px 923px #fff, 1577px 1098px #fff, 846px 747px #fff, 546px 555px #fff,
      1308px 1372px #fff, 372px 1857px #fff, 38px 1301px #fff,
      1204px 1984px #fff;
    animation: animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1793px 640px #fff, 1228px 1234px #fff, 1821px 274px #fff,
        162px 1870px #fff, 1023px 1449px #fff, 155px 388px #fff,
        1398px 420px #fff, 1688px 1728px #fff, 1448px 1022px #fff,
        67px 1747px #fff, 1356px 1553px #fff, 152px 1529px #fff,
        779px 802px #fff, 1477px 1483px #fff, 1493px 1357px #fff,
        520px 1844px #fff, 484px 1184px #fff, 1418px 1960px #fff,
        207px 27px #fff, 13px 1102px #fff, 1062px 705px #fff, 106px 1260px #fff,
        1522px 1877px #fff, 73px 536px #fff, 416px 687px #fff,
        1080px 1962px #fff, 1057px 455px #fff, 1829px 1611px #fff,
        1178px 1041px #fff, 386px 1016px #fff, 100px 537px #fff,
        592px 1422px #fff, 1881px 1457px #fff, 1253px 1794px #fff,
        1300px 778px #fff, 1619px 789px #fff, 1139px 118px #fff,
        1923px 724px #fff, 1110px 1985px #fff, 1741px 167px #fff,
        1853px 630px #fff, 1px 1765px #fff, 398px 1080px #fff, 1268px 698px #fff,
        1420px 1119px #fff, 440px 803px #fff, 139px 387px #fff,
        583px 1093px #fff, 1572px 521px #fff, 1937px 451px #fff,
        596px 1149px #fff, 625px 1095px #fff, 1836px 1910px #fff,
        90px 529px #fff, 1285px 1118px #fff, 1650px 660px #fff, 277px 406px #fff,
        1593px 1009px #fff, 1514px 292px #fff, 572px 683px #fff, 36px 538px #fff,
        174px 501px #fff, 1219px 1845px #fff, 542px 1819px #fff,
        937px 706px #fff, 1925px 328px #fff, 1225px 485px #fff,
        111px 1746px #fff, 1657px 543px #fff, 1979px 546px #fff,
        963px 380px #fff, 1017px 1799px #fff, 651px 1909px #fff,
        945px 538px #fff, 119px 1253px #fff, 975px 425px #fff, 999px 1762px #fff,
        961px 1436px #fff, 1635px 1460px #fff, 1828px 870px #fff,
        1721px 190px #fff, 457px 789px #fff, 1756px 1281px #fff,
        1712px 1384px #fff, 1446px 871px #fff, 388px 1103px #fff,
        1329px 32px #fff, 1694px 769px #fff, 168px 742px #fff, 1784px 739px #fff,
        1477px 1465px #fff, 976px 398px #fff, 1022px 1270px #fff,
        998px 1874px #fff, 213px 830px #fff, 787px 426px #fff,
        1836px 1915px #fff, 1174px 843px #fff, 1317px 1640px #fff,
        461px 638px #fff, 499px 1221px #fff, 874px 1300px #fff, 961px 717px #fff,
        1158px 1915px #fff, 286px 1800px #fff, 669px 428px #fff,
        1930px 1513px #fff, 27px 472px #fff, 973px 663px #fff, 697px 203px #fff,
        214px 1255px #fff, 1339px 961px #fff, 428px 1477px #fff,
        1619px 1493px #fff, 940px 78px #fff, 980px 109px #fff,
        1534px 1265px #fff, 1552px 1364px #fff, 423px 161px #fff,
        1250px 482px #fff, 802px 1139px #fff, 1140px 1534px #fff,
        1305px 1637px #fff, 720px 238px #fff, 557px 884px #fff, 375px 98px #fff,
        1836px 233px #fff, 336px 1246px #fff, 1805px 1402px #fff,
        1376px 39px #fff, 1900px 1236px #fff, 113px 1696px #fff, 448px 60px #fff,
        296px 1997px #fff, 1843px 1353px #fff, 1373px 749px #fff,
        805px 1306px #fff, 1748px 1695px #fff, 1665px 616px #fff,
        607px 1679px #fff, 276px 1272px #fff, 639px 1881px #fff,
        939px 1473px #fff, 536px 146px #fff, 1038px 1541px #fff,
        1840px 1214px #fff, 233px 8px #fff, 1733px 1321px #fff,
        1586px 386px #fff, 1341px 1995px #fff, 826px 759px #fff, 168px 11px #fff,
        518px 1061px #fff, 1238px 1873px #fff, 964px 743px #fff,
        1342px 197px #fff, 243px 1344px #fff, 797px 255px #fff, 162px 318px #fff,
        1933px 1221px #fff, 1279px 147px #fff, 626px 710px #fff,
        1677px 342px #fff, 617px 732px #fff, 1774px 1227px #fff,
        508px 1024px #fff, 1186px 1245px #fff, 1517px 1565px #fff,
        301px 548px #fff, 400px 878px #fff, 1253px 1332px #fff,
        235px 1285px #fff, 488px 458px #fff, 562px 494px #fff, 862px 196px #fff,
        101px 124px #fff, 293px 1687px #fff, 838px 226px #fff, 1334px 615px #fff,
        318px 929px #fff, 1692px 1967px #fff, 670px 1425px #fff,
        1548px 851px #fff, 1596px 1057px #fff, 1665px 1481px #fff,
        706px 973px #fff, 54px 1137px #fff, 487px 30px #fff, 966px 110px #fff,
        1730px 1577px #fff, 1230px 1253px #fff, 1861px 1348px #fff,
        765px 1132px #fff, 46px 1008px #fff, 541px 494px #fff, 1198px 710px #fff,
        484px 169px #fff, 964px 332px #fff, 1592px 1281px #fff,
        1408px 768px #fff, 1661px 1509px #fff, 775px 49px #fff,
        1528px 664px #fff, 591px 1595px #fff, 237px 110px #fff,
        1602px 1464px #fff, 200px 891px #fff, 683px 113px #fff,
        1882px 1953px #fff, 1341px 1717px #fff, 1073px 1740px #fff,
        1059px 211px #fff, 1772px 802px #fff, 1279px 1479px #fff,
        29px 490px #fff, 689px 1874px #fff, 1797px 1019px #fff, 744px 803px #fff,
        1371px 726px #fff, 1686px 1251px #fff, 1000px 436px #fff,
        837px 19px #fff, 1031px 95px #fff, 236px 419px #fff, 901px 329px #fff,
        892px 445px #fff, 1959px 385px #fff, 902px 1799px #fff,
        1786px 341px #fff, 997px 430px #fff, 721px 900px #fff,
        1749px 1664px #fff, 726px 1387px #fff, 645px 1027px #fff,
        663px 581px #fff, 520px 373px #fff, 289px 1802px #fff, 1046px 851px #fff,
        437px 1978px #fff, 1831px 1944px #fff, 1670px 1916px #fff,
        1816px 233px #fff, 1933px 1605px #fff, 935px 1207px #fff,
        1517px 1107px #fff, 1375px 752px #fff, 72px 942px #fff,
        365px 1597px #fff, 257px 286px #fff, 64px 1669px #fff, 1362px 46px #fff,
        1310px 1825px #fff, 1833px 336px #fff, 1934px 1355px #fff,
        364px 1055px #fff, 1837px 325px #fff, 1392px 1771px #fff,
        1989px 595px #fff, 1929px 134px #fff, 252px 537px #fff, 1820px 88px #fff,
        1832px 656px #fff, 195px 1274px #fff, 73px 683px #fff,
        1142px 1224px #fff, 959px 681px #fff, 536px 1509px #fff,
        1068px 878px #fff, 1336px 1794px #fff, 1124px 1969px #fff,
        1142px 764px #fff, 1179px 77px #fff, 1679px 1060px #fff,
        923px 986px #fff, 1671px 1635px #fff, 756px 989px #fff, 336px 74px #fff,
        272px 1569px #fff, 805px 197px #fff, 1624px 947px #fff,
        1419px 1939px #fff, 1011px 1462px #fff, 1866px 613px #fff,
        186px 109px #fff, 1698px 566px #fff, 542px 652px #fff, 771px 1939px #fff,
        1867px 778px #fff, 203px 372px #fff, 1703px 269px #fff,
        1355px 1629px #fff, 1922px 415px #fff, 1992px 1937px #fff,
        910px 1761px #fff, 657px 1776px #fff, 941px 425px #fff, 469px 750px #fff,
        1237px 1416px #fff, 1920px 1348px #fff, 1408px 1581px #fff,
        1234px 1781px #fff, 1476px 1458px #fff, 1848px 1338px #fff,
        1726px 1374px #fff, 1153px 13px #fff, 241px 1619px #fff,
        1249px 1701px #fff, 195px 1872px #fff, 494px 1178px #fff,
        1875px 1426px #fff, 54px 1725px #fff, 1131px 761px #fff,
        563px 1227px #fff, 1892px 1832px #fff, 53px 186px #fff, 69px 1635px #fff,
        40px 395px #fff, 617px 598px #fff, 179px 1309px #fff, 1328px 941px #fff,
        1569px 925px #fff, 1497px 1560px #fff, 95px 332px #fff,
        1507px 717px #fff, 1184px 1576px #fff, 618px 902px #fff,
        1995px 635px #fff, 731px 995px #fff, 18px 806px #fff, 1090px 955px #fff,
        1330px 217px #fff, 195px 1385px #fff, 1009px 134px #fff,
        1459px 1613px #fff, 1275px 179px #fff, 1737px 1272px #fff,
        1534px 390px #fff, 691px 14px #fff, 1444px 661px #fff, 630px 1911px #fff,
        456px 1759px #fff, 1165px 982px #fff, 271px 776px #fff, 337px 700px #fff,
        812px 994px #fff, 141px 294px #fff, 1867px 393px #fff,
        1605px 1925px #fff, 835px 409px #fff, 466px 1324px #fff,
        1863px 1774px #fff, 1519px 944px #fff, 982px 1693px #fff,
        1954px 1181px #fff, 534px 1472px #fff, 1727px 1454px #fff,
        41px 800px #fff, 1289px 582px #fff, 1819px 1134px #fff,
        886px 1387px #fff, 1601px 1240px #fff, 1608px 256px #fff,
        1863px 870px #fff, 344px 1738px #fff, 1586px 76px #fff,
        1806px 702px #fff, 217px 869px #fff, 1309px 1957px #fff,
        924px 1114px #fff, 1214px 1712px #fff, 1835px 1458px #fff,
        1180px 1325px #fff, 1118px 451px #fff, 1470px 999px #fff,
        635px 108px #fff, 1071px 213px #fff, 537px 304px #fff, 833px 919px #fff,
        1014px 74px #fff, 1266px 1618px #fff, 1952px 1926px #fff,
        328px 1630px #fff, 1217px 1298px #fff, 750px 990px #fff,
        137px 1164px #fff, 1832px 1394px #fff, 1520px 1365px #fff,
        536px 386px #fff, 305px 1093px #fff, 1983px 1244px #fff,
        1671px 1386px #fff, 892px 219px #fff, 1196px 1810px #fff,
        533px 98px #fff, 795px 910px #fff, 13px 948px #fff, 1179px 863px #fff,
        1043px 1402px #fff, 725px 1924px #fff, 859px 1795px #fff,
        291px 409px #fff, 1246px 1007px #fff, 1029px 1764px #fff,
        1842px 1037px #fff, 982px 579px #fff, 1264px 703px #fff,
        525px 286px #fff, 1553px 146px #fff, 1491px 1073px #fff,
        1294px 1402px #fff, 488px 1249px #fff, 307px 982px #fff,
        172px 1454px #fff, 379px 1966px #fff, 383px 355px #fff,
        804px 2000px #fff, 598px 282px #fff, 898px 1165px #fff,
        614px 1564px #fff, 1028px 637px #fff, 1952px 179px #fff,
        1332px 480px #fff, 1956px 31px #fff, 951px 1787px #fff, 966px 928px #fff,
        1640px 1415px #fff, 1202px 16px #fff, 1810px 961px #fff,
        1942px 727px #fff, 1962px 446px #fff, 671px 1593px #fff,
        29px 1161px #fff, 1973px 340px #fff, 918px 1213px #fff,
        1410px 1602px #fff, 1617px 1567px #fff, 893px 1198px #fff,
        1599px 169px #fff, 1282px 886px #fff, 1458px 1856px #fff,
        401px 544px #fff, 1925px 1977px #fff, 216px 61px #fff, 161px 499px #fff,
        946px 1023px #fff, 700px 1589px #fff, 126px 627px #fff,
        778px 1517px #fff, 549px 1232px #fff, 766px 1560px #fff,
        120px 1596px #fff, 606px 1717px #fff, 1288px 1447px #fff,
        701px 696px #fff, 1907px 1981px #fff, 1699px 1162px #fff,
        1074px 29px #fff, 1789px 1994px #fff, 262px 1508px #fff,
        1322px 222px #fff, 1046px 360px #fff, 1010px 483px #fff,
        1589px 321px #fff, 769px 378px #fff, 1855px 638px #fff,
        796px 1636px #fff, 368px 1051px #fff, 1487px 1190px #fff,
        353px 1582px #fff, 1825px 1117px #fff, 433px 1195px #fff,
        640px 859px #fff, 1860px 1816px #fff, 400px 1140px #fff,
        1242px 111px #fff, 1601px 1772px #fff, 650px 1580px #fff,
        1500px 1850px #fff, 180px 1547px #fff, 1938px 1253px #fff,
        37px 457px #fff, 1643px 1992px #fff, 767px 666px #fff, 404px 464px #fff,
        582px 717px #fff, 1118px 1195px #fff, 1126px 286px #fff,
        341px 951px #fff, 1668px 634px #fff, 1562px 180px #fff,
        516px 1178px #fff, 146px 1276px #fff, 507px 1061px #fff,
        1753px 681px #fff, 861px 1687px #fff, 1639px 1515px #fff,
        171px 1098px #fff, 833px 9px #fff, 1846px 1807px #fff, 1826px 422px #fff,
        1023px 266px #fff, 135px 1494px #fff, 1343px 796px #fff,
        1501px 358px #fff, 114px 1506px #fff, 823px 1186px #fff,
        713px 1322px #fff, 1151px 1976px #fff, 1340px 725px #fff,
        1053px 614px #fff, 719px 1112px #fff, 1910px 910px #fff, 36px 722px #fff,
        436px 1988px #fff, 1771px 1746px #fff, 750px 66px #fff, 350px 604px #fff,
        849px 144px #fff, 962px 1648px #fff, 694px 126px #fff, 1518px 169px #fff,
        1314px 1796px #fff, 458px 1589px #fff, 1144px 354px #fff,
        878px 1520px #fff, 27px 1217px #fff, 658px 265px #fff, 421px 1253px #fff,
        1589px 226px #fff, 1010px 109px #fff, 720px 368px #fff,
        1973px 111px #fff, 1519px 1346px #fff, 1233px 38px #fff,
        312px 1674px #fff, 279px 912px #fff, 1586px 59px #fff, 729px 1794px #fff,
        97px 35px #fff, 1214px 1859px #fff, 1586px 1696px #fff,
        576px 1284px #fff, 829px 1464px #fff, 1962px 1682px #fff,
        1595px 452px #fff, 90px 788px #fff, 565px 1464px #fff,
        1306px 1959px #fff, 629px 1195px #fff, 784px 249px #fff,
        592px 433px #fff, 1041px 749px #fff, 482px 249px #fff,
        1186px 1287px #fff, 522px 142px #fff, 184px 1496px #fff,
        1229px 545px #fff, 360px 1389px #fff, 1549px 491px #fff, 67px 473px #fff,
        1604px 1545px #fff, 694px 1719px #fff, 436px 526px #fff,
        1040px 555px #fff, 1257px 1799px #fff, 1426px 1953px #fff,
        868px 1009px #fff, 318px 418px #fff, 126px 1138px #fff,
        1293px 494px #fff, 1270px 1358px #fff, 354px 1967px #fff,
        405px 1895px #fff, 354px 1358px #fff, 1137px 1183px #fff,
        1157px 874px #fff, 546px 1127px #fff, 1855px 1405px #fff,
        436px 137px #fff, 519px 608px #fff, 1969px 1248px #fff,
        466px 1027px #fff, 1774px 747px #fff, 1835px 1304px #fff,
        1692px 814px #fff, 1738px 72px #fff, 557px 625px #fff, 1217px 69px #fff,
        1057px 841px #fff, 1953px 1282px #fff, 1516px 1735px #fff,
        799px 139px #fff, 771px 1233px #fff, 393px 641px #fff, 1794px 308px #fff,
        1632px 994px #fff, 70px 1763px #fff, 1551px 294px #fff, 28px 1354px #fff,
        1009px 1924px #fff, 796px 486px #fff, 1010px 1495px #fff,
        80px 1610px #fff, 311px 778px #fff, 630px 705px #fff, 850px 164px #fff,
        850px 673px #fff, 1951px 143px #fff, 1964px 236px #fff, 981px 578px #fff,
        443px 1351px #fff, 781px 1304px #fff, 460px 1738px #fff,
        687px 1040px #fff, 1514px 904px #fff, 1842px 444px #fff,
        938px 671px #fff, 282px 1607px #fff, 286px 1148px #fff,
        681px 1726px #fff, 1742px 1531px #fff, 665px 1601px #fff,
        1335px 1817px #fff, 229px 1732px #fff, 1983px 202px #fff,
        1609px 1595px #fff, 1009px 1142px #fff, 353px 1209px #fff,
        1903px 1412px #fff, 1607px 906px #fff, 1183px 66px #fff,
        887px 1721px #fff, 1256px 1468px #fff, 1717px 1834px #fff,
        1960px 1175px #fff, 930px 1831px #fff, 1604px 936px #fff,
        1375px 1655px #fff, 914px 4px #fff, 1px 1704px #fff, 163px 1354px #fff,
        1723px 1879px #fff, 494px 824px #fff, 380px 1985px #fff,
        339px 298px #fff, 112px 600px #fff, 1397px 651px #fff, 304px 505px #fff,
        982px 237px #fff, 1732px 632px #fff, 901px 743px #fff, 996px 344px #fff,
        1252px 1504px #fff, 1932px 1455px #fff, 512px 634px #fff,
        835px 302px #fff, 1048px 940px #fff, 793px 921px #fff,
        1164px 1353px #fff, 1441px 1508px #fff, 924px 1720px #fff,
        1017px 1982px #fff, 981px 1797px #fff, 351px 457px #fff,
        1496px 536px #fff, 300px 1474px #fff, 1976px 338px #fff,
        1961px 203px #fff, 1312px 197px #fff, 244px 667px #fff, 921px 814px #fff,
        395px 1809px #fff, 1398px 1569px #fff, 1263px 831px #fff,
        1593px 357px #fff, 1897px 484px #fff, 1044px 1200px #fff,
        1795px 1905px #fff, 995px 1748px #fff, 550px 519px #fff,
        1931px 971px #fff, 1169px 1460px #fff, 884px 1520px #fff,
        1965px 198px #fff, 554px 989px #fff, 1813px 1559px #fff,
        1961px 1414px #fff, 834px 670px #fff, 1210px 1496px #fff,
        360px 1859px #fff, 1896px 1972px #fff, 1033px 955px #fff,
        1630px 923px #fff, 1577px 1098px #fff, 846px 747px #fff,
        546px 555px #fff, 1308px 1372px #fff, 372px 1857px #fff,
        38px 1301px #fff, 1204px 1984px #fff;
    }
  }

  #stars2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 278px 339px #fff, 1040px 1984px #fff, 1936px 633px #fff,
      1300px 420px #fff, 745px 725px #fff, 71px 1023px #fff, 714px 1940px #fff,
      426px 918px #fff, 1609px 1690px #fff, 569px 874px #fff, 816px 915px #fff,
      1330px 376px #fff, 647px 637px #fff, 1456px 450px #fff, 1680px 1247px #fff,
      1523px 1021px #fff, 294px 1158px #fff, 1053px 537px #fff,
      320px 1114px #fff, 390px 1505px #fff, 832px 1132px #fff, 1503px 351px #fff,
      857px 1455px #fff, 1791px 1766px #fff, 602px 362px #fff,
      1605px 1077px #fff, 96px 759px #fff, 1572px 1051px #fff, 60px 993px #fff,
      1447px 550px #fff, 152px 176px #fff, 1724px 178px #fff, 244px 183px #fff,
      1614px 1438px #fff, 819px 1843px #fff, 770px 1055px #fff,
      1915px 399px #fff, 1458px 192px #fff, 1851px 1688px #fff,
      1925px 1704px #fff, 454px 696px #fff, 385px 575px #fff, 1040px 1747px #fff,
      1121px 1039px #fff, 990px 1019px #fff, 792px 586px #fff, 214px 893px #fff,
      837px 812px #fff, 285px 418px #fff, 619px 77px #fff, 564px 1939px #fff,
      1262px 1567px #fff, 64px 753px #fff, 882px 90px #fff, 1513px 1544px #fff,
      122px 1567px #fff, 500px 913px #fff, 380px 1414px #fff, 1574px 1647px #fff,
      911px 503px #fff, 882px 1484px #fff, 851px 1521px #fff, 239px 1368px #fff,
      19px 1908px #fff, 690px 1953px #fff, 749px 804px #fff, 1183px 683px #fff,
      34px 1182px #fff, 1855px 566px #fff, 1593px 749px #fff, 1456px 962px #fff,
      1638px 1762px #fff, 517px 1204px #fff, 1604px 178px #fff,
      1352px 1101px #fff, 1819px 542px #fff, 726px 1503px #fff,
      1555px 1815px #fff, 4px 89px #fff, 1041px 1833px #fff, 92px 1422px #fff,
      541px 346px #fff, 1772px 1197px #fff, 391px 1117px #fff, 286px 785px #fff,
      1285px 1398px #fff, 1737px 1658px #fff, 1368px 853px #fff,
      763px 1876px #fff, 1435px 1690px #fff, 1607px 165px #fff,
      1430px 678px #fff, 911px 571px #fff, 787px 217px #fff, 1374px 641px #fff,
      1146px 1974px #fff, 825px 1827px #fff, 135px 1323px #fff, 779px 996px #fff,
      1827px 213px #fff, 491px 1782px #fff, 1077px 656px #fff, 934px 394px #fff,
      1702px 472px #fff, 833px 146px #fff, 204px 1826px #fff, 748px 1630px #fff,
      880px 50px #fff, 114px 558px #fff, 1821px 6px #fff, 1160px 1273px #fff,
      1159px 287px #fff, 1480px 1391px #fff, 1445px 551px #fff, 622px 555px #fff,
      728px 1014px #fff, 626px 189px #fff, 951px 1407px #fff, 1694px 750px #fff,
      301px 1358px #fff, 660px 206px #fff, 997px 1898px #fff, 132px 555px #fff,
      448px 1338px #fff, 1808px 382px #fff, 129px 19px #fff, 188px 118px #fff,
      1468px 437px #fff, 460px 754px #fff, 1807px 557px #fff, 1399px 1508px #fff,
      1071px 1279px #fff, 1930px 521px #fff, 910px 1913px #fff,
      963px 1677px #fff, 844px 1652px #fff, 1228px 686px #fff, 264px 722px #fff,
      1113px 1165px #fff, 1264px 769px #fff, 566px 1196px #fff,
      1037px 493px #fff, 373px 1949px #fff, 268px 1876px #fff, 700px 1321px #fff,
      935px 1602px #fff, 1747px 1988px #fff, 1481px 1834px #fff,
      658px 1712px #fff, 1025px 866px #fff, 1080px 667px #fff,
      1200px 1433px #fff, 99px 963px #fff, 91px 662px #fff, 854px 234px #fff,
      30px 1255px #fff, 1110px 1447px #fff, 1807px 1159px #fff,
      987px 1379px #fff, 1250px 82px #fff, 1276px 1653px #fff, 963px 458px #fff,
      1192px 160px #fff, 954px 43px #fff, 1524px 102px #fff, 1127px 1019px #fff,
      759px 1687px #fff, 122px 1868px #fff, 433px 6px #fff, 1352px 1786px #fff,
      625px 417px #fff, 1360px 1898px #fff, 2px 499px #fff, 429px 871px #fff,
      119px 1552px #fff, 1626px 1314px #fff, 1678px 610px #fff, 97px 1850px #fff,
      330px 1656px #fff, 1326px 1667px #fff, 843px 1351px #fff,
      1724px 1708px #fff, 375px 1618px #fff, 1699px 1650px #fff,
      1491px 1521px #fff, 1293px 1003px #fff, 1987px 358px #fff,
      49px 1702px #fff, 242px 4px #fff, 479px 348px #fff, 1022px 1176px #fff,
      804px 954px #fff, 1039px 490px #fff, 1866px 635px #fff, 492px 1037px #fff,
      53px 145px #fff, 1979px 1907px #fff, 627px 259px #fff, 1184px 1601px #fff,
      1673px 984px #fff;
    animation: animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 278px 339px #fff, 1040px 1984px #fff, 1936px 633px #fff,
        1300px 420px #fff, 745px 725px #fff, 71px 1023px #fff, 714px 1940px #fff,
        426px 918px #fff, 1609px 1690px #fff, 569px 874px #fff, 816px 915px #fff,
        1330px 376px #fff, 647px 637px #fff, 1456px 450px #fff,
        1680px 1247px #fff, 1523px 1021px #fff, 294px 1158px #fff,
        1053px 537px #fff, 320px 1114px #fff, 390px 1505px #fff,
        832px 1132px #fff, 1503px 351px #fff, 857px 1455px #fff,
        1791px 1766px #fff, 602px 362px #fff, 1605px 1077px #fff,
        96px 759px #fff, 1572px 1051px #fff, 60px 993px #fff, 1447px 550px #fff,
        152px 176px #fff, 1724px 178px #fff, 244px 183px #fff,
        1614px 1438px #fff, 819px 1843px #fff, 770px 1055px #fff,
        1915px 399px #fff, 1458px 192px #fff, 1851px 1688px #fff,
        1925px 1704px #fff, 454px 696px #fff, 385px 575px #fff,
        1040px 1747px #fff, 1121px 1039px #fff, 990px 1019px #fff,
        792px 586px #fff, 214px 893px #fff, 837px 812px #fff, 285px 418px #fff,
        619px 77px #fff, 564px 1939px #fff, 1262px 1567px #fff, 64px 753px #fff,
        882px 90px #fff, 1513px 1544px #fff, 122px 1567px #fff, 500px 913px #fff,
        380px 1414px #fff, 1574px 1647px #fff, 911px 503px #fff,
        882px 1484px #fff, 851px 1521px #fff, 239px 1368px #fff,
        19px 1908px #fff, 690px 1953px #fff, 749px 804px #fff, 1183px 683px #fff,
        34px 1182px #fff, 1855px 566px #fff, 1593px 749px #fff,
        1456px 962px #fff, 1638px 1762px #fff, 517px 1204px #fff,
        1604px 178px #fff, 1352px 1101px #fff, 1819px 542px #fff,
        726px 1503px #fff, 1555px 1815px #fff, 4px 89px #fff, 1041px 1833px #fff,
        92px 1422px #fff, 541px 346px #fff, 1772px 1197px #fff,
        391px 1117px #fff, 286px 785px #fff, 1285px 1398px #fff,
        1737px 1658px #fff, 1368px 853px #fff, 763px 1876px #fff,
        1435px 1690px #fff, 1607px 165px #fff, 1430px 678px #fff,
        911px 571px #fff, 787px 217px #fff, 1374px 641px #fff,
        1146px 1974px #fff, 825px 1827px #fff, 135px 1323px #fff,
        779px 996px #fff, 1827px 213px #fff, 491px 1782px #fff,
        1077px 656px #fff, 934px 394px #fff, 1702px 472px #fff, 833px 146px #fff,
        204px 1826px #fff, 748px 1630px #fff, 880px 50px #fff, 114px 558px #fff,
        1821px 6px #fff, 1160px 1273px #fff, 1159px 287px #fff,
        1480px 1391px #fff, 1445px 551px #fff, 622px 555px #fff,
        728px 1014px #fff, 626px 189px #fff, 951px 1407px #fff,
        1694px 750px #fff, 301px 1358px #fff, 660px 206px #fff,
        997px 1898px #fff, 132px 555px #fff, 448px 1338px #fff,
        1808px 382px #fff, 129px 19px #fff, 188px 118px #fff, 1468px 437px #fff,
        460px 754px #fff, 1807px 557px #fff, 1399px 1508px #fff,
        1071px 1279px #fff, 1930px 521px #fff, 910px 1913px #fff,
        963px 1677px #fff, 844px 1652px #fff, 1228px 686px #fff,
        264px 722px #fff, 1113px 1165px #fff, 1264px 769px #fff,
        566px 1196px #fff, 1037px 493px #fff, 373px 1949px #fff,
        268px 1876px #fff, 700px 1321px #fff, 935px 1602px #fff,
        1747px 1988px #fff, 1481px 1834px #fff, 658px 1712px #fff,
        1025px 866px #fff, 1080px 667px #fff, 1200px 1433px #fff,
        99px 963px #fff, 91px 662px #fff, 854px 234px #fff, 30px 1255px #fff,
        1110px 1447px #fff, 1807px 1159px #fff, 987px 1379px #fff,
        1250px 82px #fff, 1276px 1653px #fff, 963px 458px #fff,
        1192px 160px #fff, 954px 43px #fff, 1524px 102px #fff,
        1127px 1019px #fff, 759px 1687px #fff, 122px 1868px #fff, 433px 6px #fff,
        1352px 1786px #fff, 625px 417px #fff, 1360px 1898px #fff, 2px 499px #fff,
        429px 871px #fff, 119px 1552px #fff, 1626px 1314px #fff,
        1678px 610px #fff, 97px 1850px #fff, 330px 1656px #fff,
        1326px 1667px #fff, 843px 1351px #fff, 1724px 1708px #fff,
        375px 1618px #fff, 1699px 1650px #fff, 1491px 1521px #fff,
        1293px 1003px #fff, 1987px 358px #fff, 49px 1702px #fff, 242px 4px #fff,
        479px 348px #fff, 1022px 1176px #fff, 804px 954px #fff,
        1039px 490px #fff, 1866px 635px #fff, 492px 1037px #fff, 53px 145px #fff,
        1979px 1907px #fff, 627px 259px #fff, 1184px 1601px #fff,
        1673px 984px #fff;
    }
  }

  #stars3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1471px 1668px #fff, 1781px 758px #fff, 1810px 1930px #fff,
      1533px 525px #fff, 1707px 1745px #fff, 567px 1426px #fff,
      1430px 589px #fff, 301px 1937px #fff, 81px 1314px #fff, 204px 580px #fff,
      191px 1184px #fff, 769px 1487px #fff, 951px 1038px #fff, 520px 909px #fff,
      1358px 1704px #fff, 888px 1613px #fff, 1737px 1682px #fff,
      1113px 1542px #fff, 1866px 299px #fff, 30px 198px #fff, 1014px 987px #fff,
      1489px 1735px #fff, 1858px 1333px #fff, 929px 1378px #fff,
      560px 1536px #fff, 457px 1429px #fff, 1250px 726px #fff, 818px 561px #fff,
      381px 171px #fff, 1283px 15px #fff, 545px 301px #fff, 635px 526px #fff,
      1058px 1013px #fff, 1427px 1932px #fff, 1387px 271px #fff,
      40px 1778px #fff, 789px 427px #fff, 87px 109px #fff, 1386px 208px #fff,
      1111px 1080px #fff, 1200px 912px #fff, 217px 1572px #fff, 611px 251px #fff,
      1997px 1263px #fff, 632px 11px #fff, 1612px 998px #fff, 1900px 1417px #fff,
      1701px 1745px #fff, 1105px 799px #fff, 660px 1017px #fff,
      143px 1546px #fff, 1711px 560px #fff, 741px 1928px #fff,
      1918px 1306px #fff, 1479px 675px #fff, 1759px 1501px #fff,
      930px 1762px #fff, 1401px 1898px #fff, 1992px 686px #fff,
      1749px 1981px #fff, 1557px 1771px #fff, 810px 239px #fff,
      1319px 859px #fff, 1367px 1609px #fff, 700px 1585px #fff,
      989px 1985px #fff, 1996px 1059px #fff, 672px 55px #fff, 200px 945px #fff,
      1408px 823px #fff, 1084px 1080px #fff, 1897px 100px #fff, 1528px 38px #fff,
      696px 798px #fff, 457px 1777px #fff, 1230px 622px #fff, 1606px 1131px #fff,
      553px 1562px #fff, 1923px 921px #fff, 1664px 1334px #fff,
      728px 1518px #fff, 683px 698px #fff, 306px 577px #fff, 1284px 65px #fff,
      526px 194px #fff, 1237px 317px #fff, 378px 443px #fff, 1552px 945px #fff,
      1466px 228px #fff, 1733px 924px #fff, 1831px 1655px #fff, 418px 433px #fff,
      1413px 188px #fff, 721px 546px #fff, 158px 306px #fff, 310px 347px #fff,
      66px 1572px #fff, 1511px 1146px #fff, 1839px 375px #fff, 125px 500px #fff;
    animation: animStar 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1471px 1668px #fff, 1781px 758px #fff, 1810px 1930px #fff,
        1533px 525px #fff, 1707px 1745px #fff, 567px 1426px #fff,
        1430px 589px #fff, 301px 1937px #fff, 81px 1314px #fff, 204px 580px #fff,
        191px 1184px #fff, 769px 1487px #fff, 951px 1038px #fff,
        520px 909px #fff, 1358px 1704px #fff, 888px 1613px #fff,
        1737px 1682px #fff, 1113px 1542px #fff, 1866px 299px #fff,
        30px 198px #fff, 1014px 987px #fff, 1489px 1735px #fff,
        1858px 1333px #fff, 929px 1378px #fff, 560px 1536px #fff,
        457px 1429px #fff, 1250px 726px #fff, 818px 561px #fff, 381px 171px #fff,
        1283px 15px #fff, 545px 301px #fff, 635px 526px #fff, 1058px 1013px #fff,
        1427px 1932px #fff, 1387px 271px #fff, 40px 1778px #fff,
        789px 427px #fff, 87px 109px #fff, 1386px 208px #fff, 1111px 1080px #fff,
        1200px 912px #fff, 217px 1572px #fff, 611px 251px #fff,
        1997px 1263px #fff, 632px 11px #fff, 1612px 998px #fff,
        1900px 1417px #fff, 1701px 1745px #fff, 1105px 799px #fff,
        660px 1017px #fff, 143px 1546px #fff, 1711px 560px #fff,
        741px 1928px #fff, 1918px 1306px #fff, 1479px 675px #fff,
        1759px 1501px #fff, 930px 1762px #fff, 1401px 1898px #fff,
        1992px 686px #fff, 1749px 1981px #fff, 1557px 1771px #fff,
        810px 239px #fff, 1319px 859px #fff, 1367px 1609px #fff,
        700px 1585px #fff, 989px 1985px #fff, 1996px 1059px #fff,
        672px 55px #fff, 200px 945px #fff, 1408px 823px #fff, 1084px 1080px #fff,
        1897px 100px #fff, 1528px 38px #fff, 696px 798px #fff, 457px 1777px #fff,
        1230px 622px #fff, 1606px 1131px #fff, 553px 1562px #fff,
        1923px 921px #fff, 1664px 1334px #fff, 728px 1518px #fff,
        683px 698px #fff, 306px 577px #fff, 1284px 65px #fff, 526px 194px #fff,
        1237px 317px #fff, 378px 443px #fff, 1552px 945px #fff,
        1466px 228px #fff, 1733px 924px #fff, 1831px 1655px #fff,
        418px 433px #fff, 1413px 188px #fff, 721px 546px #fff, 158px 306px #fff,
        310px 347px #fff, 66px 1572px #fff, 1511px 1146px #fff,
        1839px 375px #fff, 125px 500px #fff;
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-100vh);
    }
  }
}
